<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><span class="username">Twitter</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="https://vaporware.gitbook.io/vaporware"><span class="username">Documentation</span></a></li>
          <li><a href="{{ "/feed.xml" | relative_url }}">RSS</a></li>
          <!--<li><a href="https://vaporware.network"><span class="username">vaporware.network</span></a></li>-->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">GitHub</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
