section header h1 {
  font-size: 18px;
}

// implements our .key-term class
strong em,
em strong {
  background: black;
  font-weight: normal;
  color: white;
  font-style: italic;
  padding: 0 0.5em;
}

.key-term {
  background: black;
  color: white;
  font-style: italic;
  padding: 0 0.5em;
}

.fade-transition {
  transition: opacity 0.1s ease;
}

.hero {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.site-footer {
  a {
    font-weight: bold;
  }
}

.social-media-list {
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-list {
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

pre,
code {
  background-color: $grey-color-light !important;
}
.highlighter-rouge {
  background-color: $grey-color-light !important;
}
.highlight {
  background-color: $grey-color-light !important;
}

.site-header,
.site-footer {
  a:hover {
    // font-weight: normal;
  }
}

.tag-chips {
  margin-top: 10px;
}

.tag-chip {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 5px;
  background-color: $grey-color-light;
  border-radius: 4px;
  font-size: 14px;
}

button {
  font-size: 13px;
  @apply bg-black;
  @apply text-white;
  @apply py-2;
  @apply px-4;
}

button:disabled {
  @apply cursor-not-allowed;
  @apply opacity-60;
}

header aside {
  font-size: 10px;
}

section {
  font-size: 14px;
  @apply mb-8;
}

section header {
  @apply mb-4;
  @apply font-semibold;
  @apply flex;
  @apply flex-row;
  @apply items-center;
}

section p {
  @apply mb-4;
  @apply text-justify;
}

ul {
  @apply mb-4;
}

li {
  @apply list-disc;
  @apply ml-8;
  @apply text-left;
}

footer ul {
  @apply flex;
  @apply flex-row;
  @apply justify-between;
}

footer ul li {
  @apply inline-block;
  @apply ml-0;
}

footer a {
  @apply no-underline;
  @apply text-black;
  @apply font-semibold;
}

footer p {
  @apply text-[8px];
}

.list-meta {
  margin-bottom: calc($spacing-unit / 2);
  a {
    color: $grey-color;
    &:hover {
      color: $grey-color;
    }
  }
}

.author-profile {
  .avatar {
    padding-bottom: $spacing-unit;
  }
}

.author-avatar {
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

.authors-dot {
  color: $grey-color;
  margin-left: calc($spacing-unit / 4);
}

.hero-image {
  margin-bottom: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-index {
  height: 300px; /* Adjust the height as desired */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc($spacing-unit / 2);
}

.hero-index > img,
.hero-index > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-podcast-index {
  height: 50vw;
  width: 50vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.hero-podcast-index > img,
.hero-podcast-index > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-podcast {
  height: 50vh;
  width: 50vh;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-podcast > img,
.hero-podcast > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.podcast-image-play {
  margin-bottom: $spacing-unit;
  .player {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.hero-index > img,
.hero-index > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-post {
  height: 400px; /* Adjust the height as desired */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-post > img,
.hero-post > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

// implements our .horizontal-bars class
hr {
  border: none;
  margin: 1.5em 0;
  background-image: repeating-linear-gradient(
    0deg,
    #000000 0px,
    #000000 1px,
    transparent 1px,
    transparent 2px,
    #000000 2px,
    #000000 3px,
    transparent 3px,
    transparent 4px,
    #000000 4px,
    #000000 5px,
    transparent 5px,
    transparent 6px,
    #000000 6px,
    #000000 7px,
    #696868 7px,
    #696868 8px,
    transparent 8px,
    transparent 9px,
    #000000 9px,
    #000000 10px,
    transparent 10px,
    transparent 11px
  );
  background-size: 100% 13px; /* Set the size of your "sprite" */
  height: 13px; /* At least the height of your "sprite" */
  width: 100%; /* Full width of the container */
  background-position: left top; /* Start the pattern from the bottom-left corner */
}

.horizontal-bars {
  background-image: repeating-linear-gradient(
    0deg,
    #000000 0px,
    #000000 1px,
    transparent 1px,
    transparent 2px,
    #000000 2px,
    #000000 3px,
    transparent 3px,
    transparent 4px,
    #000000 4px,
    #000000 5px,
    transparent 5px,
    transparent 6px,
    #000000 6px,
    #000000 7px,
    #696868 7px,
    #696868 8px,
    transparent 8px,
    transparent 9px,
    #000000 9px,
    #000000 10px,
    transparent 10px,
    transparent 11px
  );
  background-size: 100% 13px; /* Set the size of your "sprite" */
  height: 13px; /* At least the height of your "sprite" */
  width: 100%; /* Full width of the container */
  background-position: left top; /* Start the pattern from the bottom-left corner */
}
