---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>

  {% if page.image %}
  <div class="hero-post">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b
        %-d, %Y" -%} {{ page.date | date: date_format }}
      </time>

      {%- if page.authors -%} •
      <span
        itemprop="author"
        itemscope
        itemtype="http://schema.org/Person"
      >
        {%- assign author_count = page.authors | size -%} {%- if
        author_count == 1 -%}
        <span class="p-author h-card" itemprop="name">
          {%- assign author_id = page.authors[0] -%} {%- assign author =
          site.authors | where: 'identifier', author_id | first -%} {%- if
          author -%}
          <a href="{{ author.url }}">
            {{ author.name }}
            <img class="author-avatar" src="{{ author.avatar }}" />
          </a>
          {%- endif -%}
        </span>
        {%- else -%}
        <span class="p-author h-card" itemprop="name">
          {%- for author_id in page.authors -%} {%- assign author =
          site.authors | where: 'identifier', author_id | first -%} {%- if
          author -%}
          <a href="{{ author.url }}">
            {{ author.name }}
            <img class="author-avatar" src="{{ author.avatar }}" />
          </a>
          {% unless
          forloop.last %}, {% endunless %} {%- endif -%} {%- endfor -%}
        </span>
        {%- endif -%}
      </span>
      {%- endif -%}
      {%- if false %}
      {%- if page.tags.size > 0 -%}
      <div class="tag-chips">
        {%- for tag in page.tags -%}
        <a href="{{ '/tags.html' | relative_url }}#{{ tag | slugify }}" class="tag-chip">{{ tag }}</a>
        {%- endfor -%}
      </div>
      {%- endif -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
